body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}
a {
    color: green;
    text-decoration: none;
}
.h1 {
    font-size: 2em;
    color: #333;
}
.p {
    font-size: 1.2em;
    color: #666;
}
img {
    max-width: 30%;
    height: auto;
}
